extends ../layout
include ../mixins

block content
  .stui-pannel.stui-pannel-bg.clearfix
    .stui-pannel-box
      .stui-pannel_bd.clearfix
        .col-md-wide-75.col-xs-1
          h1= topic.name
          if topic.content
            .content #{topic.content}

  if topic.relVods && topic.relVods.length
    .stui-pannel.stui-pannel-bg.clearfix
      .stui-pannel-box
        .stui-pannel_hd
          .stui-pannel__head.active.bottom-line.clearfix
            h3.title 相关影片
        .stui-pannel_bd
          ul.stui-vodlist.clearfix
            each vod in topic.relVods
              li.col-md-6.col-sm-4.col-xs-3
                +vodBox(vod)
