PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/maccms_node
SITE_TITLE=唐诡影视-唐朝诡事录,唐朝诡事录2免费观看,最新电影电视剧免费观看
SITE_NAME=唐诡影视
SITE_URL=http://localhost:3000
SITE_KEYWORDS=唐诡影视站,唐朝诡事录2免费观看,唐朝诡事录免费观看,最新电影电视剧
SITE_DESCRIPTION=唐诡影视站，提供唐朝诡事录和唐朝诡事录2的免费播放服务，并且附带还提供最新最全的电影电视剧动漫免费在线观看。
TEMPLATE_THEME=stui
CACHE_ENABLE=false
SESSION_SECRET=maccms-node-secret-change-me
ADMIN_SESSION_MAX_AGE_MS=2592000000
TRUST_PROXY=1
ADMIN_INIT_NAME=admin
ADMIN_INIT_PASSWORD=admin123
ADMIN_INIT_EMAIL=admin@example.com
ADMIN_INIT_NICKNAME=超级管理员
URL_MODE=pathinfo
