//- Source: jump.html
//- ✓ No manual work needed

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
    title 系统提示......
    link(rel="stylesheet", href="__STATIC__/css/home.css")
    style
      | body{background:#F9FAFD;color:#818181;}
  body
    div.mac_msg_jump
      div.msg_jump_tit 系统提示...
      div.title 亲爱的：
      div.text #{msg}
      div.jump
        | 页面自动  a#href ">跳转  等待时间：  b#wait < ?php echo($wait);?>
    script(type="text/javascript")
      | (function(){
      | var wait = document.getElementById('wait'),
      | href = document.getElementById('href').href;
      | var interval = setInterval(function(){
      | var time = --wait.innerHTML;
      | if(time  < = 0) {
      | location.href = href;
      | clearInterval(interval);
      | };
      | }, 1000);
      | })();