doctype html
html(lang="zh-CN")
  head
    meta(charset="UTF-8")
    title 错误 - #{maccms ? maccms.siteName : 'MacCMS'}
    link(rel="stylesheet" href="/css/style.css")
  body
    .error-page
      h1 出错了
      if message
        p= message
      a(href="/") 返回首页
