//- Source: link.html
//- ⚠ Manual work: 1 item(s)
//-
//-   MANUAL: {maccms:link num="" type="font"} needs controller pre-query

div.stui-pannel.stui-pannel-bg.hidden-sm.hidden-xs.clearfix
  div.stui-pannel-box
    div.stui-pannel_hd
      div.stui-pannel__head.clearfix
        h3.title
          img(src="#{maccms.pathTpl}statics/icon/icon_26.png")
          | 友情链接
    div.stui-pannel_bd.clearfix
      div.col-xs-1
        ul.stui-link__text.clearfix
          //- MANUAL: maccms block (needs controller pre-query)