//- Source: slide.html
//- ⚠ Manual work: 3 item(s)
//-
//-   MANUAL: {maccms:topic num="3" order="desc" by="sort" ids="all" level="9"} needs controller pre-query
//-   MANUAL: {maccms:vod num="10" type="all" order="desc" by="time" level="9"} needs controller pre-query
//-   MANUAL: Complex URL helper: {:mac_url_img($vo.topic_pic)}

// D072 by v.shoutu.cn
div.stui-pannel.stui-pannel-bg.clearfix
  div.stui-pannel-box.clearfix
    div.stui-pannel-bd
      div.carousel.carousel_center.col-pd.flickity-page
        //- MANUAL: maccms block (needs controller pre-query)

        //- MANUAL: maccms block (needs controller pre-query)