//- Source: baidu.html
//- ⚠ Manual work: 3 item(s)
//-
//-   MANUAL: {maccms:vod num="2000" order="desc" by="time"} needs controller pre-query
//-   MANUAL: {maccms:art num="500" order="desc" by="time"} needs controller pre-query
//-   MANUAL: Complex URL helper: {:mac_url_art_detail($vo)}

| < ?xml version="1.0" encoding="UTF-8"?>
urlset
  //- MANUAL: maccms block (needs controller pre-query)//- MANUAL: maccms block (needs controller pre-query)